<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" /> 
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</head>
<body>
    
    <div id="header">
    <h1>
                Application  </h1>   
      
        <div id="menu">
            <ul>
                <li class="first">
                    @Html.ActionLink("Home", "Index", "Home")</li>
                <li>
                    @Html.ActionLink("Upload File", "Index", "Upload")</li>
                    <li>
                    @Html.ActionLink("Show", "Index", "Show")</li>
                    <li>
                    @Html.ActionLink("Send", "Index", "Send")</li>
                    <li>
                    @Html.ActionLink("Search", "Index", "Search")</li>
            </ul>
        </div>
    </div>
    <!-- end header -->
    <!-- start page -->
    <div id="page">
        <!-- start content -->
        <div id="content">
            <!-- start latest-post -->
            <div id="latest-post" class="post">
                <div class="entry">
                    <p>
                        @RenderBody()
                    </p>
                </div>
            </div>
                        
            <div style="clear: both;">
                &nbsp;</div>
            <div class="hr1">
                &nbsp;</div>
            
            
        </div>
    </div>
    
</body>
</html>
